.info__wrapper {
background-color: var(--third-brand-color);
}
.info {
    padding: 5rem 0;
}
.info .text {
position: relative;
margin-bottom: 8rem;
}
.info .text::before {
    position: absolute;
    display: block;
    content: '';
    background-image: url('../img/pill.svg');
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    left: 50%;
    top: -4rem;
    transform: translate(-50%, 0);
}
@media screen and (min-width: 1024px)  {
    .info .text {
        margin-bottom: 0;
    }
    .info .list-fl {
        align-items: flex-start;
    }
    .info .item {
        width: 30%;
    }
}


